<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://accounts.google.com/gsi/client" async></script>

</head>
<body>
<a href="/api/user">Get user info</a>

<div class="container authenticated">
    Logged in as: <span id="user"></span>
    <div>
        <button onClick="logout()" class="btn btn-primary">Logout</button>
    </div>
</div>

<script>
    var logout = function() {
        $.post("/logout", function() {
            console.log("logout trigger!")
            $("#user").html('');
            $(".unauthenticated").show();
            $(".authenticated").hide();
        })
        return true;
    }
</script>
</body>
</html>